section.page-header {
  background-image: url('../images/header-lidar.jpg');
}
h1 { font-size: 2.00rem }
h2 { font-size: 1.75rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1.00rem }
h5 { font-size: 0.75rem }
h6 { font-size: 0.50rem }
h1.project-name {
  color: #EEE;
}
h2.project-tagline {
  color: #EEE;
  opacity: 1
}
.breadcrumb-item {
  font-size: 0.75em;
}
.main-content img {
  margin: 20px 0;
  box-shadow: 0px 0px 10px #999
}
.leaflet-container img {
  margin: 0px;
  box-shadow: none;
}
.shadebox {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  color: #FFF;
}
.shadebox a {
  color: #FFF;
}
.schedules td {
  font-family: Courier,sans-serif;
}
.text-center {
 text-align: center;
}
.wide {
  max-width: 1175px;
  width: 100%;
}
.main-content :first-child .leaflet-popup-tip {
  margin-top: -10px;
  padding-top: 10px
}
.main-content :first-child .leaflet-popup-content {
  margin: 13px 19px
}
