a { 
  color:#00b7ff
}
a:hover  { 
  color:#0084ff;
}
body {
  background-color: #171717;
  color: #f2f2f2;
}
dfn {
  font-style: normal;
  text-decoration: dotted underline;
}
section.page-header {
  background-image: url('../images/header-lidar.jpg');
}

h1 { font-size: 2.00rem }
h2 { font-size: 1.75rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1.00rem }
h5 { font-size: 0.75rem }
h6 { font-size: 0.50rem }
h1.project-name {
  color: #EEE;
}
h2.project-tagline {
  color: #EEE;
  opacity: 1
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb-item {
  font-size: 0.75em;
}
.btn-copy {
  margin-bottom: 7px;
}
.leaflet-container img, .gm-style img {
  margin: 0px;
  box-shadow: none;
}
.main-content :first-child .leaflet-popup-tip {
  margin-top: -10px;
  padding-top: 10px
}
.main-content code, .main-content pre {
  color: #f3f6fa;
  background-color: #253137;
}
.main-content h1 {
  margin-top: 1rem;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: rgb(74, 231, 153);
}
.main-content :first-child .leaflet-popup-content {
  margin: 13px 19px
}
.main-content figure {
  padding: 200px;
}
.main-content > p > img  {
  margin-top: 3.0rem !important;
}
.main-content p > img + em {
  display: block;
  font-size: small;
  margin-bottom: 3.0rem;
}
.material-icons {
  vertical-align: middle;  
}
.muted {
  color: #CBCBCB;
}
.no-shadow {
  box-shadow: none !important;
}
.schedules td {
  font-family: Courier,sans-serif;
}
.shadebox {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  color: #FFF;
}
.shadebox a {
  color: #FFF;
}
.shadow, iframe {
  margin: 20px 0;
  box-shadow: 0px 0px 10px #999
}
.text-center {
 text-align: center;
}
.title-box {
  max-width: 832px;
  margin: auto;
}
.wide {
  max-width: 1175px;
  width: 100%;
}

