html, body, #map {
  margin: 0;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 1.5em
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.level-tooltip {
  color: #eee;
  background-color: #333;
}
