div {
  padding: 20px;
  border: 5px solid black;
  color: white;
}

.container {
  width: 400px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
