html, body, #map {
  margin: 0;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 2em
}
.leaflet-popup-content-wrapper {
  color: #eee;
  background-color: #333;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-popup-tip {
  background-color: #333;
}
