body {
  font-family: Helvetica, sans-serif;
}

#masthead {
  text-align: center;
}

.subtitle {
  color: #555;
}

.thumbnail {
  width: 150px;
  height: 100px;
}

/* Display article thumbnails and descriptions side by side in a grid */
article {
  display: grid;
  grid: "img meta" auto / 200px auto;
  margin-bottom: 20px;
}

/* Use this class on a div that contains the img element */
.article-img {
  grid-area: img;
  justify-self: center;
}

/* Use this class on a div that contains the description, link, etc. */
.article-meta {
  grid-area: meta;
  align-self: start;
}
